/* 
:root {
    --crossmark-blue: #0060a9;
    --crossmark-red: #cf082c;
    --dark-blue: #022042;
    --light-blue: #00aeff;
    --white: #fff;
    --yellow: #ffc000;
    --dark-gray: #404040;
    --light-gray: #ededed;
    --background-color: var(--dark-gray);
    --border-color: var(--light-gray);
}
    
#root {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--crossmark-blue);;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    overflow: hidden;
    /* overflow-y: scroll; */
  } 
*/