.smaller-body {
    display:  grid;
    grid-template-rows: 150px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.selection-body {
    height: auto;
}