.navbar {    
    background-color: var(--dark-gray);
    top: 0;
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: 8fr 1fr;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.navbar > .nav-section {
    padding: 0px 2rem;
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid var(--border-color);
}

#nav-logo-section, #nav-user-section {
    flex-grow: 1
}

#nav-user-section {
    display: grid;
    /* grid-template-rows: 1fr 1fr 2fr; */
    grid-template-rows: 40px 40px 80px;
    margin: auto;
}

#nav-logo-section {
    justify-content: center;
}

* {
    box-sizing: border-box;
}

.status {
    display:flex;
    flex-direction: row;
}

.status-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--border-color);
    width: 8rem;
}

.status-inner > *:last-child {
    width:100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
}

.status-inner > *:first-child {
    width:100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.3rem auto;
    border-bottom: 1px solid var(--border-color);
}

.logon {
    width: 100%;
}

p,a {
    margin: 0;
    padding: 0;
}

.username {
    margin: auto;
}

.nav-logoin-div{
    margin: auto;
}