
.submissions-holder {
    width: inherit;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    height:100%
}

.single-submission {
    border: 1px solid var(--dark-gray);
    display: grid;
    grid-template-rows: 1fr 9fr;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 0px;
    width: fit-content;
    background-color: #fff;
    margin: auto;
    box-shadow: inset 0 10px 0 0 var(--dark-gray), inset -10px 0 0 0 var(--dark-gray), inset 0 -10px 0 0 var(--dark-gray), inset 10px 0 0 0 var(--dark-gray);
}

 .single-submission-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60vw;
    max-width: 80vw;
    border-top: 15px solid var(--dark-gray);
}
.single-submission-row > * {
    margin: 10px;
    padding: 10px;
}

.single-submission-column {
    margin-top: 0px;
    margin-bottom: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 0px;
    padding-bottom: 0px;
    height: fit-content;
}

p, h6 {
    color: black
}

p {
    text-align: center;
    font-size: large;
}

h6 {
    text-align: center;
    font-size: large;
}

.single-submission-cell {
    height: fit-content;
    display: grid;
    grid-template-columns: 2fr 6fr;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem;
}

.single-submission-cell > *:first-child {
    padding: 21% 0px;
    text-align: left;
    border-right: 5px solid var(--dark-gray);
    padding: 20% 0px;
}

.single-submission-cell > *:last-child {

}

.single-submission-cell > * {
    height: max-content;
    font-size: 1.5rem;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

.single-submission-column-right-with-photo {
    height: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr;
}

.above-selection-class {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;
    column-gap: 10px;
}

.submission-img {
    width: 10rem;
    height: auto;
    object-fit: cover;
}

.single-submission-store-name {
    height: 100%;
    width: 100%;
    background: var(--light-gray);
    font-size: 5rem;
    text-align: center;
    padding: 2rem;
    box-sizing: border-box;
}

.single-submission-store-name > p {
    font-size: 3.5rem;
    font-weight: bold;
}

.photos-cell {
    overflow-x: auto;
    border: 0px;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    height: 100%;
    border-left: 5px solid var(--dark-gray);
    border-top: 5px solid var(--dark-gray);
}

#pic {
    border-right: 0px;
    padding: 0px;
}